<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-12">
				<div class="d-flex justify-content-between align-items-center">
					<div class="mb-3">
						<h1>La tua Lista di Foto:</h1>
						<a th:href="@{/}" type="submit" class="btn btn-primary">Home Page</a>
					</div>
						<div>
						    <a type="submit" class="btn btn-primary">Vai alle Categorie</a>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="d-flex justify-content-between">
						<div class="w-50">
							<form method="POST">
								<div class="input-group mb-3">
								  	<span class="input-group-text" id="basic-addon1">Titolo della Foto</span>
								  	<input type="text" class="form-control" placeholder="titolo" aria-label="Username" aria-describedby="basic-addon1"
								  	name="title">
								  	<input class="btn btn-success" type="submit" value="Search">
								</div>
							</form>
						</div>
						<div>
							<div class="col-auto">
						    	<a type="submit" class="btn btn-primary">Aggiungi una Foto</a>
						  	</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div th:if="${#lists.isEmpty(pictures)}">
						<h1>Lista vuota</h1>
					</div>
					<div th:unless="${#lists.isEmpty(pictures)}">
						<table class="table">
							<thead>
							  	<tr>
							    	<th scope="col">Titolo</th>
							    	<th scope="col">Descrizione</th>
							    	<th scope="col" class="w-25">Immagine</th>
							    	<th scope="col">Visibile</th>
							    	<th scope="col">Azioni</th>
							  	</tr>
							</thead>
							<tbody>
							  	<tr 
							  	th:each="picture : ${pictures}"
							  	th:object="${picture}"
							  	>
							    	<th scope="row">[[ *{title} ]]</th>
						     		<td>[[ *{description} ]]</td>
						     		<td>
						     			<img alt="foto pizza" th:src="*{url}">
						     		</td>
							    	<td>[[ *{visible ? "si" : "no"} ]]</td>
							    	<th>
							    		<div class="btn-group" role="group" aria-label="Basic example">
										  	<a class="btn btn-primary">
										  		<i class="fa-solid fa-eye"></i>
										  	</a>
										  	<a class="btn btn-warning">
										  		<i class="fa-solid fa-pen-to-square"></i>
										  	</a>
										  	<a class="btn btn-danger">
										  		<i class="fa-solid fa-trash-can"></i>
										  	</a>
										</div>
							    	</th>
							  	</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
